In [2]:
# 1
# importing pandas
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
# 2
# Importing and reading CSV.
# head() and tail() methods can be used to get first and last 5 values out of data set.
# to specify more values pass n='value' to the above methods.

Sal = pd.read_csv('Salaries.csv', na_values=["Not provided"])
Sal.head()

/tmp/ipykernel_13907/2838371126.py:6: DtypeWarning: Columns (4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  Sal = pd.read_csv('Salaries.csv', na_values=["Not provided"])

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
Sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148654 non-null  float64
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 14.7+ MB

In [5]:
# 3
# Highest Pay

Sal['TotalPayBenefits'].max()

567595.43

In [6]:
# 4
# Monica Field's job title and total pay benefit

Sal[Sal['EmployeeName'] == 'MONICA FIELDS']['JobTitle']
Sal[Sal['EmployeeName'] == 'MONICA FIELDS']['TotalPayBenefits']

29    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

29    261366.14
Name: TotalPayBenefits, dtype: float64

In [7]:
# 5
# Highest basic salary and how much it is higher than average basic salary

In [47]:
# Finding average basic pay
print('Average basic pay:\n')
average_basic_pay = Sal['BasePay'].mean()
average_basic_pay

# Finding maximum basic pay
print('Maximum basic pay:\n')
Maximum_basic_pay = Sal['BasePay'].max()
Maximum_basic_pay

# Difference between maximum basic pay and average basic pay

print('Difference:\n')
difference1 = Maximum_basic_pay - average_basic_pay
difference1

# Finding average total pay
print('Average total benefits:\n')
average_total = Sal['TotalPayBenefits'].mean()
average_total

# Finding maximum total pay
print('Maximum total pay:\n')
max_total_pay = Sal['TotalPayBenefits'].max()
max_total_pay

# Difference between maximum total and average total
print('Difference:\n')
difference2 = max_total_pay - average_total
difference2

# Difference between maximum total pay and average base pay
print('Difference:\n')
difference3 = max_total_pay - average_basic_pay
difference3

Average basic pay:

66053.72928807836

Maximum basic pay:

319275.01

Difference:

253221.28071192163

Average total benefits:

93692.55481056681

Maximum total pay:

567595.43

Difference:

473902.8751894332

Difference:

501541.7007119217

In [44]:
maximum_pay_employee = Sal[Sal['TotalPayBenefits'] == Sal['TotalPayBenefits'].max()]['EmployeeName']
maximum_pay_employee

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

567595.43

In [50]:
print('Maximus guy:\n')
maximum_pay_employee

print('Maximus guy pay:\n')
max_total_pay

print('Difference between Maximus guy payment and average base payment:\n')
difference3

Maximus guy:

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

Maximus guy pay:

567595.43

Difference between Maximus guy payment and average base payment:

501541.7007119217